/* 전체 설정 */
* {
  font-family: "Jua", sans-serif;
  text-align: center;
  margin: auto;
  
}
body{
  overflow: hidden;
  min-width: 50vw;
}
/* 헤더=============================================*/
header {
  background-color: #fed049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
}

h2 {
  margin: 0 5px 0 0;
}
.mascot {
  width: 55px;
  height: 60px;
}
.header_small_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.category_return {
  margin: 0px 10px;
  text-decoration-line: none;
  color: red;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비게이션============================================= */
.nav_box {
  /* border: 1px solid red; */
  top: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;

}

.navContainer {
  padding: 5px;
  background-color: white;
  border: 10px solid #fed049;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.service1 {
  width: 80%;
}

.near_restaurant {
  border-radius: 100px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 1.2vw;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 2px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav a {
  text-decoration-line: none;
  color: grey;
}

section {
  /* border: 2px solid green; */
  height: 100%;
}


/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

/* nav ul li a:hover {
  font-weight: 500;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
}

nav ul li a span :hover {

  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48

}
 */

a.active {
  color: #ff5752;
  font-weight: bolder;
  font-weight: 900;
}

/* 내용 섹션 윗칸 ============================================= 221205 이태은 */
.community_section {
  margin-top: 125px;
  background-color: rgb(255, 251, 236);
  height: 90vh;
  z-index: -100;
  position: absolute;
  border-bottom: 0px;
  width: 100vw;
}

/* 부화한 메추리알들의 커뮤니티 */
.community_for_metury {
  margin: 20px auto;
  font-size: 40px;
  color: rgb(107, 57, 0);
}

.community_for_metury > p {
  padding-top: 30px;
  margin: 0;
}

.community_for_metury > h3 {
  color: rgb(211, 160, 101);
  font-size: 20px;
  padding: 10px 0 20px 0;
}

.community-div {
  border: 5px solid #fed049;
  width: 90vw;
  height: 60vh;
  overflow: overlay;
  
}
/* 스크롤바 설정*/
.community-div::-webkit-scrollbar{
  width: 10px;
}

/* 스크롤바 막대 설정*/
.community-div::-webkit-scrollbar-thumb{
  background-color:#fed4499d;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;    
  z-index: -100;
}
/* 스크롤바 뒷 배경 설정*/
.community-div::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}

.space {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  width: 40vw;
  margin: 5px 10px;
}

/* 버튼============================================================== 221225이태은*/
.post-upload-button-div {
  display: flex;
  padding: 20px;
  border: 5px solid #fed049;
  margin: 0px auto;
  /* float: right; */
  width: 90vw;
  height: 10vh;
  text-align: right;
  margin-bottom: 10px;
}

/* 검색 버튼 시작=========== */
.search_btn{
  font-size: 1vw;
  margin: 10px;
  padding:10px;
  border-radius: 10px;
  width: fit-content;
  border: #e74b24;
  background-color: #e74b24;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.search_btn:hover{
  border: #e74b24;
  background-color: #831a00;
  color: #ffffff;
}
/* 검색 버튼 끝=========== */

/* 게시물 업로드 버튼 시작====== */
.post-upload-button{
  font-size: 1vw;
  margin:  10px;
  padding:10px;
  border-radius: 10px;
  width: fit-content;
  border: #e74b24;
  background-color: #e74b24;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.post-upload-button:hover{
  border: #e74b24;
  background-color: #831a00;
  color: #ffffff;
}
/* 게시물 업로드 버튼 끝====== */



/* 커뮤니티 작성용 모달창===================================================== */

/* 모달창 */
/* 배경 */
.post-upload-modal-container {
  z-index: 1000;
  /* border: 2px red solid; */
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* 배경 어둡게 */
  background-color: rgba(0, 0, 0, 0.7);
}

/* 게시물 업로드 모달창 */
.post-upload-modal-box {
  background-color: #fefefe;
  margin: 150px auto;
  padding: 20px 10px;
  border: 1px solid rgb(153, 153, 153);
  width: 70vw;
  height: fit-content;
  top: 100px;
  border-radius: 10px;
}

.post-upload-modal-top {
  /* border: 2px solid rgb(255, 153, 0); */
  height: 30px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.post-upload-modal-close {

  /* border: solid 1px red; */
  float: right;
  margin: 0 10px;

  text-decoration: none;
}

/*모달창 닫는 버튼*/
.post-upload-modal-close:hover,
.post-upload-modal-close:focus {
  color: rgb(255, 187, 0);
  text-decoration: none;
  cursor: pointer;
}

/* 입력할수있는  부분 div ==========*/
.post-upload-modal-content {
  height: 50vh;
  width: 60vw;
  display: flex;
}

/* 왼쪽 div */
.post-upload-modal-content-img {
  border-radius: 20px;
  padding: 20px;
  /* border: 2px solid purple; */
  height: 50vh;
  width: 30vw;
  background-color: rgb(255, 215, 106);
  margin-right: 30px;

}

/* 이미지 업로드 박스 */
.flex-container {
  min-width: 10vw;
  border-radius: 20px;
  display: flex;
}

.wrapper {
    width: 30vw;

  border-radius: 20px;
  text-align: center;
  flex-grow: 1;
  /* border: 1px solid rgb(255, 174, 0); */
}

.image-box {
  width: 25vw;
  height: 40vh;
  object-fit: cover;
  display: block;
  /* margin: 20px auto; */
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.img-upload-btn {
  width: 20vw;
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  font-size: 1vw;
}

.img-upload-btn > input[type="file"] {
  display: none;
  margin: 10px;
}

/* 텍스트 입력 하는 구역 */
.post-upload-modal-content-text {
 border-radius: 20px;
  height: 50vh;
  width: 35vw;
  background-color: rgb(255, 215, 106);
  padding: 30px;

}

.post-modal-input-text {
  /* padding: 10px 10px; */
  height: 100%;
  /* border: 2px solid rgb(241, 13, 241); */
}

.post-modal-input-text-top {
  width: 100%;
  height: 15%;
  margin-bottom: 20px;

}
.post-modal-input-text-top .count {
  position: absolute;
  right: 10px;
  bottom: 20px;
  color: #666;
  font-family: "ht_r";
  font-size: 15px;
}

/*내용 텍스트 수 제한 textarea */
.text_box {
  border : none;
  position: relative;
  display: inline-block;
width: 100%;
height: 100%;
}

.text_box textarea {
  width: 100%;
  height: 100%;
  text-align: left;
  color: #666;
  font-family: "ht_r";
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
  border: 1px solid #e4dcd3;
  outline: 0;
  resize: none;
  border-radius: 20px;
}

.text_box .count {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #666;
  font-family: "ht_r";
  font-size: 15px;
}

.post-modal-detail-button {
  /* border: 2px solid purple; */
  width: 100%;
  display: flex;
}

/* 커뮤니티 업로드 버튼 */
.community-detail-btn {
  width: 150px;
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #ffd1fd;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.community-detail-btn:hover {
  background-color: #ff8ef9;
}

/* .post-modal-input-text-middle {
  width: 100%;
  height: 15%;
  margin-bottom: 10px;
}

.post-modal-input-text-bottom {
  border: none;
  width: 100%;
  height: 50%;
} */
.post-modal-input-text-bottom{
  margin-top: 10px;
  height: 35vh;
}
.post-title {
  text-align: left;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 5vh;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  outline: none;
  position: relative;
  display: inline-block;
}

.post-location {
  text-align: left;
  padding: 10px;
  width: 41%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  outline: none;
}

.post-tag {
  text-align: left;
  padding: 10px;
  width: 41%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  outline: none;
}

.tag-plus {
  border: 1px rgba(46, 9, 9, 0.281) solid;
  text-align: left;
  padding: 10px;
  width: 90%;
  height: 45px;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  overflow: auto;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.tag-plus::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바의 너비 */
}

.tag-plus::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #8a5300;
  /* 스크롤바의 색상 */

  border-radius: 10px;
}

.tag-plus::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
  /*스크롤바 뒷 배경 색상*/
}

/* 태그 관련 css============================================================ 2221211 이태은*/

.tag-box ul li {
  display: inline-block;
  margin: 0 5px 5px;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.tag-box form {
  padding-top: 16px;
}

.tag-wright {
  text-align: left;
  padding: 10px;
  width: 41%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  outline: none;
  background-color: antiquewhite;
}

ul li.tag-item {
  padding: 4px 8px;
  background-color: orange;
  color: #000;
  border-radius: 10px;
}

.tag-item:hover {
  background-color: #262626;
  color: #fff;
}

.del-btn {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}

/* =============태그 관련 끝 */
/* 
.post-content {
    text-align: left;
    padding: 5px 10px;
    margin: 20px auto;
    width: 90%;
    height: 250px;
    font-size: 15px;
    border: 0;
    border-radius: 20px;
    outline: none;
    background-color: rgb(233, 233, 233);
} */


.detail_content_box {
  background-color: white;
  width: 90%;
  height: 173px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: #666;
  font-family: "ht_r";
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
  outline: 0;
  resize: none;
  border-radius: 20px;
  overflow: auto;
}

.post-modal-upload-button {
  /* border: 2px solid purple; */
  margin: 20px auto 20px;
  width: 100%;

}

/* 커뮤니티 업로드 버튼 */
.community-upload-btn {
  width: 150px;
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #ffd1fd;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.community-upload-btn:hover {
  background-color: #ff8ef9;
}




/* 
/* 게시물 상세보기 모달창 시작================================================= */

/* 모달창 */
/* 모달창 버튼 */
/* .post-detail-button-div {
  border: 1px solid red;
  margin: 0px auto;
  width: 90%;
  text-align: right;
  margin-bottom: 10px;
}

.post-detail-button {
  background-color: #e74b24;
  border-radius: 7px;
  font-size: 16px;
  border: 0px solid #e74b24;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.post-detail-button:hover {
  font-weight: 500;
  letter-spacing: 3px;
  background-color: #e74b24;
  transition: 1s;
} */

/* 배경 */
/* .post-detail-modal-container {

  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
} */

/* 게시물 업로드 모달창 */
/* .post-detail-modal-box {
  background-color: #fefefe;
  margin: 150px auto;
  padding: 20px 10px;
  border: 1px solid rgb(153, 153, 153);
  width: 900px;
  top: 100px;
  border-radius: 10px;
} */

/* .post-detail-modal-top {
  height: 30px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
} */

/* .post-detail-modal-close {
  float: right;
  margin: 0 10px;
} */

/*모달창 닫는 버튼*/
/* .post-detail-modal-close:hover,
.post-detail-modal-close:focus {
  color: rgb(255, 187, 0);
  text-decoration: none;
  cursor: pointer;
} */

/* .post-detail-modal-content {
  width: 100%;
  display: flex;
} */
/* 
.post-detail-modal-content-img {
  border-radius: 20px;
  height: 100%;
  width: 60%;
  background-color: #a37d002f;
  padding: 23px;
  margin: 0 20px 20px;
} */

/* 이미지 업로드 박스 */
/* .flex-container {
  border-radius: 20px;
  display: flex;
}

.wrapper {
  border-radius: 20px;
  text-align: center;
  flex-grow: 1;
}

.image-box {
  width: 350px;
  height: 350px;
  object-fit: cover;
  display: block;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.img-detail-btn {
  width: 350px;
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}

.img-detail-btn > input[type="file"] {
  display: none;
  margin: 10px;
} */


/* 태그 관련 css============================================================ 2221211 이태은*/
/* 
.tag-box ul li {
  display: inline-block;
  margin: 0 5px 5px;
  font-size: 14px;
  letter-spacing: -0.5px;
}

.tag-box form {
  padding-top: 16px;
}

.tag-wright {
  text-align: left;
  padding: 10px;
  width: 41%;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  outline: none;
  background-color: antiquewhite;
}

ul li.tag-item {
  padding: 4px 8px;
  background-color: orange;
  color: #000;
  border-radius: 10px;
}

.tag-item:hover {
  background-color: #262626;
  color: #fff;
}

.del-btn {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
} */ */

/* =============태그 관련 끝 */
/* 
.post-content {
    text-align: left;
    padding: 5px 10px;
    margin: 20px auto;
    width: 90%;
    height: 250px;
    font-size: 15px;
    border: 0;
    border-radius: 20px;
    outline: none;
    background-color: rgb(233, 233, 233);
} */



/* 카드=============================================================== */
/* Lazy Load Styles */
.cards-box {
  width: 90%;
  height: 60vh;
}

.card-image {
  display: block;
  min-height: 20rem;
  /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  filter: blur(3px);
  /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  height: 0;
  opacity: 0;
  /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none;
  /* remove the blur on fullres image */
  transition: filter 1s;
}

/* Layout Styles */

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

/* 각각의 카드에 대해 */
.card {
  display: inline-block;
  height: 450px;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

/* 각각의 카드에 마우스를 올리면 */
.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

/* 각각의 카드의 설명란 */
.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
  
}

/* 각각의 카드의 제목 */
.card-description > h2 {
  margin: 0 0 0.5em;
}

/* 각각의 카드의 내용 글 */
.card-description > p {
  margin: 0;
}

.image_box {
  width: 300px;
  height: 300px;
}

.community-content {
  height: 30px;
  overflow: auto;
  display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
/* white-space: nowrap; */
}

/* 바닥글 윗칸 ============================================= 221205 이태은 */
footer {
  height: 25px;
  /* line-height: 55px; */
  background-color: gray;
  width: 100%;
  position: relative;
  bottom: 0;
}
