/* 전체 설정 */
* {
    text-align: center;
    margin:  auto;
    /* font-family: 'Gowun Batang', serif;
    font-family: 'Jua', sans-serif; */
    /* font-family: 'Gowun Batang', serif;
    font-family: 'Jua', sans-serif; */
    font-family: 'Do Hyeon', sans-serif;
}
/* 폰트 */
 /* @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Jua&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Jua&display=swap');  */
 /* @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); */

/* 헤더============================================= 221205 이태은 */
header {
    background-color: rgb(190, 190, 190);
    width: 100;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>h2 {
    margin-left: 20px;
}
header>h2:hover {
  color: #000000;
  cursor: pointer;
}



header ul {
    border: 2px solid red;

    margin: 0px 40px 0px;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}




header ul>li {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

/* 네비게이션============================================= 221205 이태은*/
.navContainer {
  border: 1px solid red;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 0 4px 0 32px;
  align-items: center;
  
/* float: right; */
}
.service1{
  width: 60%;
}

.near_restaurant {
  border: 1px solid red;
  float: left;
  width:30%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;
}
.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who  {
  border: 1px solid green;
  float: left;
  margin-left: 5%;
  width:30%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;

}

.community{
  border: 1px solid blue;
  float: right;
  width:30%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
  
}
.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;

}




ul {
    list-style: none;
    padding-left: 0px;
}
nav {
    /* border: 2px solid blue; */
    margin: 10px 10px;
    /* background-color: orange; */
    height: 100%;


}

nav ul {
    border: 2px solid red;
    width: 40%;
    margin: 0px auto;
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}
nav  a{
  text-decoration-line: none;
}

nav ul>li {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

section {
    /* border: 2px solid green; */
    height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48
}


/* nav ul li a:hover {
  font-weight: 500;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
}

nav ul li a span :hover {

  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48

}
 */



a.active {
  color: #FF5752;
  font-weight: bolder ;
  font-weight: 900;
}


/* 내용 섹션 윗칸 ============================================= 221205 이태은 */
.community_section {
    background-color: rgb(255, 251, 236);
    height: 80vh;
    z-index: -100;
}
/* 부화한 메추리알들의 커뮤니티 */
.community_for_metury{
    margin: 20px auto;
    font-size: 40px;
    color: rgb(107, 57, 0);
}
.community-div{
    border: 1px rgb(59, 30, 30) solid;
    width: 90%;
    height: 600px;
    overflow: overlay;
}

/* 커뮤니티 작성용 모달창===================================================== */

/* 모달창 */
  /* 모달창 버튼 */
  .post-upload-button-div{
    border: 1px solid red;
  margin: 0px auto;
    /* float: right; */
    width: 90%;
  }
  .post-upload-button {
    background-color: #e74b24;
    border-radius: 7px;
    font-size: 16px;
    border: 0px solid #e74b24;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  
  .post-upload-button:hover {
    font-weight: 500;
    letter-spacing: 3px;
  background-color: #e74b24;
  transition: 1s;
  
  }
  
  /* 배경 */
  .post-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* 배경 어둡게 */
    background-color: rgba(0, 0, 0, 0.7);
  
  }
  
  
  
  
  /* 게시물 업로드 모달창 */
  .modal-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px 10px;
    border: 1px solid #888;
    width: 600px;
    height: 600px;
    top: 50px;
    border-radius: 10px;
  }
  
  
  /*모달창 닫는 버튼*/
  .modal-close:hover,
  .modal-close:focus {
    color: rgb(255, 187, 0);
    text-decoration: none;
    cursor: pointer;
  } 
  
  .modal-content .image_container {
    border: solid red 3px;
    width: 80%;
    height: 80%;
  }
  
  
  .upload-box {
    /* border: 3px solid red; */
    height: 80%
  }
  
  .preview {
    max-width: auto;
    height: 100%;
  }
  
  .preview-container {
    width: 200px;
    height: 200px;
  }
  
  
/* 카드=============================================================== */
/* Lazy Load Styles */
.card-image {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}




/* Layout Styles */


.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}
/* 바닥글 윗칸 ============================================= 221205 이태은 */

footer {

    height:100%;
    /* line-height: 55px; */
    background-color: gray;
    width: 100%;
    position: relative;
    bottom: 0;

}



