/* 전체 설정 */
* {
  font-family: "Jua", sans-serif;
  text-align: center;
  margin: auto;
  
}
body{
  overflow: hidden;
}
/* 헤더=============================================*/
header {
  background-color: #fed049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
}

h2 {
  margin: 0 5px 0 0;
}
.mascot {
  width: 55px;
  height: 60px;
}
.header_small_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.category_return {
  margin: 0px 10px;
  text-decoration-line: none;
  color: red;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비게이션============================================= */
.nav_box {
  /* border: 1px solid red; */
top: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;

}

.navContainer {
  padding: 5px;
  background-color: white;
  border: 10px solid #fed049;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.service1 {
  width: 80%;
}

.near_restaurant {
  border-radius: 100px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 1.2vw;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 2px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}


nav a {
  text-decoration-line: none;
  color: grey;
}

section {
  /* border: 2px solid green; */
  height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

a.active {
  color: #ff5752;
  font-weight: bolder;
  font-weight: 900;
}

/* 내용 섹션 윗칸 */
.community_section {
  background-color: rgb(255, 251, 236);
  width: 100%;
  height: 80vh;
}

/* 부화한 메추리알들의 커뮤니티 */
.community_for_metury {
  margin: 0 0 20px 0;
  font-size: 40px;
  color: rgb(107, 57, 0);
}

.community-div {
  border: 5px solid #fed049;
  display: grid;
  align-content: space-between;
  width: 90vw;
  height: 65vh;
  margin: auto;
  margin-top: 140px;
}

div.search_field {
  overflow: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.search_span {
  cursor: pointer;
  width: 230px;
  margin: 10px 15px;
  border: 1px black solid;
}

img {
  cursor: pointer;
  width: 224px;
  height: 230px;
}

span {
  display: grid;
  justify-content: center;
}

/* 바닥글 윗칸 */
footer {
  background-color: gray;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
