/* 전체 설정 */
* {
  font-family: "Jua", sans-serif;
  text-align: center;
  margin: auto;
}
body {
  overflow: hidden;
}
/* 헤더=============================================*/
header {
  background-color: #fed049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
}

h2 {
  margin: 0 5px 0 0;
}
.mascot {
  width: 55px;
  height: 60px;
}
.header_small_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.category_return {
  margin: 0px 10px;
  text-decoration-line: none;
  color: red;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비게이션============================================= */
.nav_box {
  top: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navContainer {
  padding: 5px;
  background-color: white;
  border: 10px solid #fed049;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.service1 {
  width: 80%;
}

.near_restaurant {
  border-radius: 100px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 1.2vw;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 2px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav a {
  text-decoration-line: none;
  color: grey;
}

section {
  height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

a.active {
  color: #ff5752;
  font-weight: bolder;
  font-weight: 900;
}

/* 내용 섹션 윗칸 */
.community_section {
  background-color: rgb(255, 251, 236);
  height: 80vh;
  z-index: -100;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

img {
  max-width: 80%;
  max-height: 40vh;
}

.container-post-detail {
  background-color: #fed049;
  border-radius: 10px;
  width: 90vw;
  height: 70vh;
  padding: 2%;
  margin-top: 180px;
  display: flex;
}

.wrap-post-detail {
  border-radius: 10px;
  margin: 0px 10px;
  padding: 10px;
  background-color: white;
  width: 50vw;
  height: 100%;
  position: relative;
}

.wrap-post-detail viewr {
  width: 100%;
  height: auto;
}

.wrap-content-detail {
  margin: 20px 0px 25px;
}

/* 타이틀, 좋아요 */
.box-btn-detail {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.like-box > button {
  margin: 0px 10px;
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 1vw;
  color: aliceblue;
}

.food-title {
  margin: 10px auto;
  font-size: 2.4rem;
}

.btn-danger {
  margin: 0px;
}

.food-like-button:hover {
  font-weight: 500;
  background-color: crimson;
}

/* 댓글 */
.container-reply-detail {
  margin: 0px 10px;
  width: 40vw;

  border-radius: 10px;
  background-color: #a37d002f;
  height: 100%;
}
.wrap-reply-detail {
  padding: 5px;
  margin: auto;
  height: 100%;
}

.box-comment-detail {
  margin: 0%;
  flex-direction: column;
}

.box-reply-detail {
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  display: flex;
  margin: 0 auto;
  padding: 5px;
  font-size: 1.2rem;
  background-color: white;
  position: absolute;
  width: 95%;
  height: 7vh;
  margin: auto;
  bottom: 10px;
}

.box-reply-user {
  width: 80%;
}

.input-reply-detail {
  width: 90%;
  margin: 0 10px;
  font-size: 1.2rem;
}

.btn-reply-detail {
  padding: 10px 12px;
  color: aliceblue;
  background-color: black;
  border-radius: 10px;
}

.btn-reply-detail:hover {
  font-weight: 700;
  background-color: #ff5733;
}

.wrap-comment-detail {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 40vw;
  height: 100%;
}
.box-title-comment-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}
.text-title-comment-detail {
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 400;
}

.box-comment-detail {
  margin: 20px 0;
  padding: 14px;
  background-color: white;
}

.box-comment-content-detail {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 10px;
}

.wrap-comment-content-detail {
  display: block;
}

.comment-content-detail {
  font-weight: 300;
}

.comment-content-detail-input {
  width: 100%;
  margin: 2px 0;
  padding: 10px;
  font-weight: 300;
  background-color: whitesmoke;
  border: 1px solid gainsboro;
}

.box-btn-comment-content {
  margin: 8px 0;
}

.box-btn-comment-content > button {
  margin-right: 5px;
  padding: 5px 7px;
}

.btn-delete-comment-detail:hover {
  color: aliceblue;
  background-color: crimson;
  margin: 1px;
}

.btn-modify-comment-detail:hover {
  color: aliceblue;
  background-color: black;
  margin: 1px;
}

.comment-div {
  display: flex;
  flex-direction: row;
  font-size: 1vw;
}
.comment-div button {
  display: flex;
  flex-direction: row;
  font-size: 1vw;
}
.media {
  margin-left: 5px;
}

.like-box {
  display: flex;
  text-align: center;
  margin: 0px;
}
.food-like-count {
  margin-bottom: 0px;
}
.media-body {
  cursor: pointer;
}

.find {
  justify-content: center;
  font-size: 2vw;
}
.btn-warning {
  font-size: 1vw;
}

.find-and-like {
  position: absolute;
  width: 40vw;
  display: flex;
  bottom: 20px;
  height: fit-content;
}
