body {
    font-family: 'Overpass', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

h1 {
    font: 700 36px 'Oswald', sans-serif;
    text-align: center;
    color: #000;
}

.header-span {
    display: block;
    font-weight: 100;
}

hr {
    max-width: 5em;
    margin-bottom: 30px;
}

.all-the-foods {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

div.clip-path-container {
    display: inline-block;
    position: relative;
    height: 250px;
    width: 250px;
    margin: 10px;
    padding: 3px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
    border-radius: 50%;
    border-collapse: separate;
    background-color: #222;
}

.clip-path-container:focus,
.clip-path-container:active,
.clip-path-container:hover {
    border-radius: 50%;
    outline: none;
}

.food {
    height: 250px;
    width: 250px;
    background-size: cover;
    transition: all .2s ease-in-out;
    transform: scale(1.5);
    outline: none;
    overflow: hidden;
    clip-path: polygon(0 100%, 0 0, 52% 0, 52% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
}


.clip-path-container:hover .food {
    clip-path: polygon(50% 100%, 50% 0, 100% 0, 100% 100%);
    transform: scale(1.1);

}

.clip-path-container:hover .description-holder {
    left: 20px;
    opacity: 1;
}

.description-holder {
    position: absolute;
    top: 35px;
    left: 120px;
    height: 300px;
    width: 100px;
    transition: all .4s ease-in-out;
    transition-delay: .1s;
    opacity: 0;
    text-align: right;
}

/*.guac-holder {
    top: 45px;
  }*/

.description-holder h1 {
    font-size: 30px;
    color: white;
    margin-top: 70px;
}

.korean_food {
    background-image: url('https://static.wtable.co.kr/image/production/service/recipe/291/a2421dff-e56c-40bd-8b40-06a91fc000a9.jpg');
}

.japanese_food {
    background-image: url('https://image.edaily.co.kr/images/Photo/files/NP/S/2016/02/PS16021300092.jpg');
}

.chinese_food {
    background-image: url('https://t2.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/3QTb/image/aqOqjbS-F38EmwKn5TYxPwpaRQo.jpg');
}

.western_food {
    background-image: url('https://68.media.tumblr.com/0611cb5f1f60e58690483ef61f507161/tumblr_inline_mthhxpDHvE1rpjrqw.png');
}

.flour_based_food {
    background-image: url('https://cdn.011st.com/11dims/resize/600x600/quality/75/11src/product/2759214768/B.jpg?791000000');
}

.asian_food {
    background-image: url('https://img-cf.kurly.com/shop/data/goodsview/20210909/gv40000225004_1.jpg');
}

.late_night_food {
    background-image: url('https://pelicana.co.kr/resources/images/menu/best_menu02_200824.jpg');
}