body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #feffee 0%, #fdf5be 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.description {
  font-family: "Jua", cursive;
  text-align: center;
  font-size: 50px;
}

.description-content {
  font-family: "Jua", cursive;
  text-align: center;
  font-size: 35px;
}

b.kr {
  font-size: 60px;
}

b.en {
  font-size: 45px;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 35px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px;
}

div.image_box {
  text-align: center;
}

div > img {
  width: 250px;
}
