@import url(https://fonts.googleapis.com/css?family=Raleway);

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Sunflower", sans-serif;
  height: 100vh;
}

.articles {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1.main-title {
  color: #000000;
  text-align: center;
  margin: 20px 0;
  font-size: 40px;
}

h2.main-subtitle {
  color: #fe4d4d;
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 27px;
}

section.main_box1 {
  display: flex;
  justify-content: center;
}

section.main_box2 {
  display: flex;
  justify-content: center;
}

section.main_box3 {
  display: flex;
  justify-content: center;
}

.container {
  margin: 10px;
  float: left;
}

.content {
  position: relative;
  width: 350px;
  height: 300px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
  height: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 35px;
}

.content-details p {
  color: #fff;
  font-size: 15px;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
