/* 전체 설정 */
* {
  font-family: 'Jua', sans-serif;
  text-align: center;
  margin: auto;
}

/* 헤더=============================================*/
header {
  background-color: rgb(239, 207, 184);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

header>h2 {
  margin: 0px 30px;
  width: 120px;
}

header > h2:hover {
  color: #000000;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}


/* 네비게이션============================================= */
.nav_box {
  margin: -80px 0px;
  position: fixed;
  width: 100%;
  height: 60px;
}

.navContainer {
  background-color: rgb(255, 251, 236);
  border: 10px solid rgb(239, 207, 184);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.service1 {
  width: 60%;
}

.near_restaurant {
  border: 2px solid grey;
  border-radius: 10px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border: 2px solid grey;
  border-radius: 10px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border: 2px solid grey;
  border-radius: 10px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border: 2px solid grey;
  border-radius: 10px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav {
  /* border: 2px solid blue; */
  margin: 10px 10px;
  /* background-color: orange; */
  height: 100%;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

nav a {
  text-decoration-line: none;
  color: grey;
}

nav ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

section {
  /* border: 2px solid green; */
  height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

/* nav ul li a:hover {
  font-weight: 500;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
}

nav ul li a span :hover {

  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48

}
 */

a.active {
  color: #ff5752;
  font-weight: bolder;
  font-weight: 900;
}

/* 내용 섹션 윗칸 ============================================= 221205 이태은 */
.recommend_food_img_section {
  background-color: rgb(255, 251, 236);
  height: 500px;
  z-index: -100;
}

/* 추천 맛집 라운드 슬라이드==========================================221205 이태은 */
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*BOX1*/
.recommend_center {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 140px;
}

.recommend_container1 {
  position: fixed;
  top: 250px;
  transition: transform 0.6s;
  /*   transform: translateY(-100px); */
}

/* 가운데로 오게되는 박스 */
.recommend_container1 div {
  width: 200px;
  height: 200px;

  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.5s;
  z-index: -45;
  font-size: 30px;
}

/*BOX2 가운데 박스 기준 왼쪽에 오게되는 박스*/
.recommend_container2 {
  position: fixed;
  top: 250px;
  transition: transform 0.5s;
  transform: translateX(-250px);
}

.recommend_container2 div {
  width: 200px;
  height: 200px;
  transition: transform 0.5s;
  transform: translateY(20px);
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(63, 62, 62);
}

/*BOX3*/
.recommend_container3 {
  position: fixed;
  top: 170px;
  transition: transform 0.5s;
  transform: translateY(150px);
}

.recommend_container3 div {
  width: 200px;
  height: 200px;
  transition: transform 0.5s;
  border-radius: 2px;
  cursor: pointer;
  transform: translateX(-500px);
  font-size: 20px;
  color: rgb(124, 123, 123);
}

/*BOX4*/
.recommend_container4 {
  position: fixed;
  top: 250px;
  transition: transform 0.5s;
  transform: translateY(350px);
  /* z-index: -45; */
}

.recommend_container4 div {
  width: 200px;
  height: 200px;
  transition: transform 0.5s;
  transform: translateX(-500px);
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(186, 184, 184);
}

/*BOX5*/
.recommend_container5 {
  position: fixed;
  top: 250px;
  transition: transform 0.5s;
  transform: translateX(500px);
}

.recommend_container5 div {
  width: 200px;
  height: 200px;
  transition: transform 0.5s;
  transform: translateY(350px);
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(186, 184, 184);
}

/*BOX6*/
.recommend_container6 {
  position: fixed;
  top: 250px;
  transition: transform 0.5s;
  transform: translateX(500px);
  font-size: 20px;
}

.recommend_container6 div {
  width: 200px;
  height: 200px;
  transition: transform 0.5s;
  transform: translateY(60px);
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(124, 123, 123);
}

/*BOX7*/
.recommend_container7 {
  position: fixed;
  top: 250px;
  transition: transform 0.5s;
  transform: translateX(250px);
}

.recommend_container7 div {
  width: 200px;
  height: 200px;
  transition: transform 0.5;
  transform: translateY(20px);
  border-radius: 2px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(63, 62, 62);
}


/* 내용 섹션 아래칸 ============================================= 221205 이태은 */
.sns_famous_restaurant_section {
  background-color: rgb(255, 174, 205);
  height: 250px;
}

/* 유명 맛집 스크롤 css ================================ 221205 이태은*/
#sns_famous_restaurant_container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 235, 168);

  display: grid;
  place-items: center;
  z-index: 1000;
  position: relative;
}
/* .sns_famous_restaurant_container{
  background: rgb(65, 252, 252);
  display: grid ;
  place-items: center;
  z-index: 100;
} */

#sns_slider-container {
  height: 150px;
  width: 60%;
  max-width: 1400px;
  background: #ffcd71;
  /* box-shadow: 5px 5px 8px gray inset; */
  position: relative;
  overflow: hidden;
  padding: 20px;
}

#sns_slider-container .btn {
  position: absolute;
  top: calc(50% - 30px);
  height: 30px;
  width: 30px;
  border-left: 8px solid rgb(43, 42, 42);
  border-top: 8px solid rgb(43, 42, 42);
}

#sns_slider-container .btn:hover {
  transform: scale(1.2);
}

#sns_slider-container .btn.inactive {
  border-color: rgb(153, 121, 126);
}

#sns_slider-container .btn:first-of-type {
  transform: rotate(-45deg);
  left: 10px;
}

#sns_slider-container .btn:last-of-type {
  transform: rotate(135deg);
  right: 10px;
}

#sns_slider-container #slider {
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 0.5s;
}

#sns_slider-container #slider .slide {
  height: 90%;
  margin: auto 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 2px rgb(255, 142, 36), -2px -2px 4px 2px rgb(255, 123, 0);
  display: grid;
  place-items: center;
}

#sns_slider-container #slider .slide span {
  color: rgb(7, 7, 7);
  font-size: 50px;
}

@media only screen and (min-width: 1100px) {
  #sns_slider-container #slider .slide {
    width: calc(2.5% - 20px);
  }
}

@media only screen and (max-width: 1100px) {
  #sns_slider-container #slider .slide {
    width: calc(3.3333333% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  #sns_slider-container #slider .slide {
    width: calc(5% - 20px);
  }
}

@media only screen and (max-width: 550px) {
  #sns_slider-container #slider .slide {
    width: calc(10% - 20px);
  }
}


/* 바닥글 윗칸 ============================================= 221205 이태은 */
footer {
  height: 100%;
  /* line-height: 55px; */
  background-color: gray;
  width: 100%;
  position: relative;
  bottom: 0;
}
