/* 전체 설정 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  text-align: center;
  margin: auto;
}

body {
  background-color: whitesmoke;
  font-family: "Jua", sans-serif;
}

/* 헤더============================================= 221205 이태은 */
header {
    background-color: rgb(239, 207, 184);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

header>h2 {
    margin: 0px 30px;
    width: 120px;
}

header > h2:hover {
  color: #000000;
  cursor: pointer;
}

.profile_info_box {
    display: flex;
    flex-direction: row;
    margin: 0px 30px;
}

.dropdown_profile_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.dropdown-menu-dark {
    height: 100px;
}

.dropdown-item-box {
    height: 43px;
}

.dropdown-item {
    margin: 0px;
    cursor: pointer;
}

form {
  margin-top: 100px;
}

.main_small {
  display: flex;
  flex-direction: row;
}

.img-box {
  margin-right: 0px;
}

.profile_img_file {
  width: 250px;
  margin-right: 50px;
}

.profile_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid rgb(220, 220, 158);
}

.profile_img {
  margin-right: 50px;
}

.main_profile {
  margin-left: 0px;
}

.email_profile_update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile_detail {
  margin: 20px auto;
  text-align: left;
}

.gender-box,
.age-box,
.nickname-box {
  display: flex;
  flex-direction: row;
}

.choose {
  margin: 17px 10px;
}

.age,
.nickname {
  width: 70px;
}
