/* 전체 설정 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  text-align: center;
  margin: auto;
}

body {
  background-color: whitesmoke;
  font-family: "Jua", sans-serif;
  height: 100vh;
}

/* 헤더============================================= */
header {
  background-color: #FED049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

header>h2 {
  margin: 0px 30px;
  width: 120px;
}

header>h2:hover {
  color: #000000;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.dropdown_profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

form {
  margin-top: 100px;
}

.main_small {
  display: flex;
  flex-direction: row;
}

.profile_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid rgb(220, 220, 158);
}

.profile_img {
  margin-right: 50px;
}

.main_profile {
  margin-left: 0px;
}

.email_profile_update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile_detail_box {
  display: flex;
  flex-direction: row;
}

.profile_detail {
  margin: 20px auto;
  text-align: left;
}

.btn.profile {
  margin: 0px 200px;
  width: 130px;
}

.profile_update_button {
  margin: 0px 20px;
  height: 50px;
}

/* 게시글 */

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
  height: 500px;
}

.card {
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description>h2 {
  margin: 0 0 0.5em;
}

.card-description>p {
  margin: 0;
}

img {
  margin: 10px;
  width: 300px;
  height: 200px;
}