/* 전체 설정 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  text-align: center;
  margin: auto;
}

body {
  background-color: whitesmoke;
  font-family: "Jua", sans-serif;
}

/* 모달 --------------------------------------------------*/
div.modal-content {
  border-radius: 20px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  margin: 0 20px;
}

/* 입력 창 전체 */
div.modal-body {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* 강조 문구 */
b {
  color: red;
}

/* 작성칸 */
input.unregister {
  border: 1px solid rgb(88, 88, 88);
  padding: 5px 20px;
  border-radius: 10px;
}

/* 헤더============================================= */
header {
  background-color: #fed049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

h2 {
  margin: 0 5px 0 0;
}
.mascot {
  width: 55px;
  height: 60px;
}
.header_small_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

header > h2 {
  margin: 0px 30px;
  width: 120px;
}

header > h2:hover {
  color: #000000;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.dropdown_profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

form {
  margin-top: 100px;
}

.main_small {
  display: flex;
  flex-direction: row;
}

.img-box {
  margin-right: 0px;
  object-fit: cover;
  display: block;
}

.profile_img_file {
  width: 250px;
  margin-right: 50px;
}

.profile_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid rgb(220, 220, 158);
}

.profile_img {
  margin-right: 50px;
}

/* 이미지 업로드 박스 */
.img-box {
  margin-right: 100px;
  width: 200px;
}

.img-upload-btn {
  width: 170px;
  border: 1px solid #ddd;
  padding: 6px 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 10px;
}

.img-upload-btn > input[type="file"] {
  display: none;
  margin: 10px;
}

/* ====================================================== */
.main_profile {
  margin-left: 0px;
}

.email_profile_update {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile_detail {
  margin: 20px auto;
  text-align: left;
}

.nickname-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.choose {
  margin: 17px 10px;
}

.nickname {
  width: 70px;
}
