/* 전체 설정 */
* {
  text-align: center;
  margin: auto;
  /* font-family: 'Gowun Batang', serif;
    font-family: 'Jua', sans-serif; */
  /* font-family: 'Gowun Batang', serif;
    font-family: 'Jua', sans-serif; */
  font-family: "Do Hyeon", sans-serif;
}
/* 폰트 */
/* @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Jua&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Jua&display=swap');  */
/* @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap'); */

/* 헤더============================================= 221205 이태은 */
header {
  background-color: rgb(190, 190, 190);
  width: 100;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  margin-left: 20px;
}
header > h2:hover {
  color: #000000;
  cursor: pointer;
}

header ul {
  border: 2px solid red;

  margin: 0px 40px 0px;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

header ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 네비게이션============================================= 221205 이태은*/
.navContainer {
  border: 1px solid red;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 0 4px 0 32px;
  align-items: center;

  /* float: right; */
}
.service1 {
  width: 60%;
}

.near_restaurant {
  /* border: 1px solid red; */
  float: left;
  color: #000000;
  font-weight: bold;
  width: 30%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 900;
}
.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  /* border: 1px solid green; */
  float: left;
  margin-left: 5%;
  width: 30%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
  opacity: 1;
}

.community {
  /* border: 1px solid blue; */
  float: right;
  width: 30%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}
.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}
nav {
  /* border: 2px solid blue; */
  margin: 10px 10px;
  /* background-color: orange; */
  height: 100%;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
nav a {
  text-decoration-line: none;
}

nav ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

section {
  /* border: 2px solid green; */
  height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

/* nav ul li a:hover {
  font-weight: 500;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
}

nav ul li a span :hover {

  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48

}
 */

a.active {
  color: #ff5752;
  font-weight: bolder;
  font-weight: 900;
}

/* 내용 섹션 윗칸 ============================================= 221205 이태은 */
.recommend_food_img_section {
  background-color: rgb(255, 251, 236);
  height: 80vh;
  z-index: -100;
}

/* 유명 맛집 스크롤 css ================================ 221205 이태은*/
#sns_famous_restaurant_container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: teal; */
  background-color: rgb(255, 235, 168);
  /* background-color: rgb(255, 174, 205); */

  display: grid;
  place-items: center;
  z-index: 1000;
  position: relative;
}

/* 바닥글 윗칸 ============================================= 221205 이태은 */

footer {
  height: 100%;
  /* line-height: 55px; */
  background-color: gray;
  width: 100%;
  position: relative;
  bottom: 0;
}
