/* 전체 설정 */
* {
  text-align: center;
  margin: auto;
  font-family: "Jua", sans-serif;
}


/* 헤더============================================= 221205 이태은 */
header {
  background-color: rgb(239, 207, 184);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

header>h2 {
  margin: 0px 30px;
  width: 120px;
}

header>h2:hover {
  color: #000000;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비게이션============================================= 221205 이태은*/
.navContainer {
  border: 1px solid red;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 0 4px 0 32px;
  align-items: center;
  margin: 80px;
}

.service1 {
  width: 60%;
}

.near_restaurant {
  border: 1px solid red;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border: 1px solid green;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border: 1px solid blue;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border: 1px solid orange;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav {
  /* border: 2px solid blue; */
  margin: 10px 10px;
  /* background-color: orange; */
  height: 100%;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
nav a {
  text-decoration-line: none;
}

nav ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

section {
  /* border: 2px solid green; */
  height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

/* nav ul li a:hover {
  font-weight: 500;
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
}

nav ul li a span :hover {

  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 200,
  'opsz' 48

}
 */

a.active {
  color: #ff5752;
  font-weight: bolder;
  font-weight: 900;
}

/* 내용 섹션 윗칸 ============================================= 221205 이태은 */
.recommend_food_img_section {
  background-color: rgb(255, 251, 236);
  height: 80vh;
  z-index: -100;
}

/* 유명 맛집 스크롤 css ================================ 221205 이태은*/
#sns_famous_restaurant_container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: teal; */
  background-color: rgb(255, 235, 168);
  /* background-color: rgb(255, 174, 205); */

  display: grid;
  place-items: center;
  z-index: 1000;
  position: relative;
}

/* 바닥글 윗칸 ============================================= 221205 이태은 */

footer {
  height: 100%;
  /* line-height: 55px; */
  background-color: gray;
  width: 100%;
  position: relative;
  bottom: 0;
}

/* 지도 */
.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}
.map_wrap {
  position: relative;
  margin: auto;
  width: 60vw;
  height: 80vh;
}
#category {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  border: 1px solid #909090;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #fff;
  overflow: hidden;
  z-index: 2;
}
#category li {
  float: left;
  list-style: none;
  width: 50px;
  border-right: 1px solid #acacac;
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
}
#category li.on {
  background: #eee;
}
#category li:hover {
  background: #ffe6e6;
  border-left: 1px solid #acacac;
  margin-left: -1px;
}
#category li:last-child {
  margin-right: 0;
  border-right: 0;
}
#category li span {
  display: block;
  margin: 0 auto 3px;
  width: 27px;
  height: 28px;
}
#category li .category_bg {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png) no-repeat;
}
#category li .bank {
  background-position: -10px 0;
}
#category li .mart {
  background-position: -10px -36px;
}
#category li .pharmacy {
  background-position: -10px -72px;
}
#category li .oil {
  background-position: -10px -108px;
}
#category li .cafe {
  background-position: -10px -144px;
}
#category li .store {
  background-position: -10px -180px;
}
#category li.on .category_bg {
  background-position-x: -46px;
}
.placeinfo_wrap {
  position: absolute;
  bottom: 28px;
  left: -150px;
  width: 300px;
}
.placeinfo {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
}
.placeinfo:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.placeinfo_wrap .after {
  content: "";
  position: relative;
  margin-left: -12px;
  left: 50%;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
  color: #fff;
  text-decoration: none;
}
.placeinfo a,
.placeinfo span {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.placeinfo span {
  margin: 5px 5px 0 5px;
  cursor: default;
  font-size: 13px;
}
.placeinfo .title {
  font-weight: bold;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
  margin: -1px -1px 0 -1px;
  padding: 10px;
  color: #fff;
  background: #d95050;
  background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}
.placeinfo .tel {
  color: #0f7833;
}
.placeinfo .jibun {
  color: #999;
  font-size: 11px;
  margin-top: 0;
}
