/* 전체 설정 */
* {
  text-align: center;
  margin: auto;
  font-family: "Jua", sans-serif;
}

body {
  background: rgb(231, 220, 184);
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: space-between;
}

/* 헤더 */
header {
  background-color: rgb(239, 207, 184);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

header>h2 {
  margin: 0px 30px;
  width: 120px;
}

header>h2:hover {
  color: #000000;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비 */
ul {
  list-style: none;
  padding-left: 0px;
}
nav {
  border: 2px solid blue;
  background-color: orange;
  display: grid;
  place-items: center;
  height: 40px;
  width: 98%;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}

nav ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 바디 */
section.main_section {
  border: 2px solid green;
  background-color: rgb(255, 174, 251);
  width: 98vw;
  height: 61vh;
  display: grid;
  align-items: flex-start;
  overflow: auto;
}

span.user {
  float: left;
  margin-left: 20px;
}

span.created_at {
  float: right;
  margin-right: 20px;
}

div.p_box {
  border-top: 1px solid;
  margin: 25px 0 0 0;
}

p.content {
  margin: 0;
}

span.servicecomment_user {
  float: left;
  margin-left: 20px;
}

span.servicecomment_created_at {
  float: right;
  margin-right: 20px;
}

p.servicecomment_comment {
  border-top: 1px solid;
  margin: 25px 0 0 0;
}

div.service_detail {
  border: 1px solid rgb(0, 0, 0);
  width: 95vw;
  margin: 5px auto;
}

div.comment_list {
  border: 1px solid rgb(0, 0, 0);
  width: 95vw;
  margin: 5px auto;
}

div.comment_box {
  display: flex;
  align-items: center;
}

textarea {
  text-align: left;
}

button.btn {
  margin: 0 10px;
  height: 40px;
}

/* 푸터 */
footer {
  width: 100%;
  height: 100%;
  background-color: gray;
  display: grid;
  place-items: center;
}
