/* 전체 설정 */
* {
  text-align: center;
  margin: auto;
  font-family: "Do Hyeon", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: space-between;
}

/* 헤더 */
header {
  background-color: rgb(190, 190, 190);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a {
  margin: 0 20px;
  text-decoration: none;
}

header > a > h2 {
  color: black;
}

button.logout {
  margin: 0 20px;
}

/* 네비 */
.navContainer {
  border: 1px solid red;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 98vw;
  justify-content: flex-end;
  padding: 0 4px 0 32px;
  align-items: center;
  /* float: right; */
}

.service1 {
  width: 60%;
}

.near_restaurant {
  border: 1px solid red;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border: 1px solid green;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border: 1px solid blue;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border: 1px solid orange;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav {
  /* border: 2px solid blue; */
  margin: 10px 10px;
  /* background-color: orange; */
  height: 100%;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

nav a {
  text-decoration-line: none;
  color: #551A8B;
}

nav ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}


/* 모달 */
h1 {
  color: red;
}

input.service_title {
  text-align: left;
}

textarea.service_content {
  text-align: left;
}

div.modal-content {
  width: 850px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.modal-body {
  display: flex;
  flex-direction: column;
}

/* 바디 */
section.main_section {
  border: 2px solid green;
  background-color: rgb(253, 255, 222);
  height: 65vh;
  width: 98%;
  overflow-y: auto;
}

span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  border: 1px solid rgb(0, 0, 0);
  margin: 7px 10px;
  display: grid;
  align-items: center;
}

p.service_id {
  width: 100px;
}

p.service_title {
  width: 100%;
  padding: 0 5px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p.service_user {
  width: 500px;
}

p.service_created_at {
  width: 300px;
}

/* 푸터 */
footer {
  width: 100%;
  background-color: gray;
  display: grid;
  place-items: center;
}
