/* 전체 설정 */
* {
  font-family: "Jua", sans-serif;
  text-align: center;
  margin: auto;
}
body {
  overflow: hidden;
  background-color: rgb(255, 251, 236);
}
/* 헤더=============================================*/
header {
  background-color: #fed049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
}

h2 {
  margin: 0 5px 0 0;
}
.mascot {
  width: 55px;
  height: 60px;
}
.header_small_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.category_return {
  margin: 0px 10px;
  text-decoration-line: none;
  color: red;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비게이션============================================= */
.nav_box {
  top: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navContainer {
  padding: 5px;
  background-color: white;
  border: 10px solid #fed049;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.service1 {
  width: 80%;
}

.near_restaurant {
  border-radius: 100px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 1.2vw;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 2px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav a {
  text-decoration-line: none;
  color: grey;
}

section {
  height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

/* 바디 */
.big-div {
  top: 120px;
  height: 88vh;
  position: relative;
}
.service-small-div {
  margin: 20px auto;
  padding: 0px 20px;

  height: 60vh;
  overflow: auto;
}
/* 스크롤바 설정==================================*/
.service-small-div::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.service-small-div::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #b86e00d2;
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.service-small-div::-webkit-scrollbar-track {
  background-color: #ff880038;
}
/* 스크롤바 설정==================================*/
section.main_section {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-start;
}

span.user {
  float: left;
  margin-left: 10px;
}

span.created_at {
  float: right;
  margin-right: 10px;
}

div.p_box {
  background-color: #ffca84;
}
.title {
  text-align: left;
  font-size: 20px;
  padding: 10px 10px 0;
  margin-bottom: 0px;
}
.content {
  text-align: left;
  padding: 10px 20px;
  overflow: auto;
  height: 300px;
  width: 100%;
}

/* 스크롤바 설정==================================*/
.content::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.content::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #3d5656;
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.content::-webkit-scrollbar-track {
  background-color: #3d565669;
}
/* 스크롤바 설정==================================*/
p.content {
  margin: 0;
}

span.servicecomment_user {
  float: left;
  margin-left: 20px;
}

span.servicecomment_updated_at {
  float: right;
  margin-right: 20px;
}

p.servicecomment_comment {
  border-bottom: 1px solid #e2a658;
  margin: 30px 0 0 0;
  color: #000000;

  background-color: #ffffff;
  padding: 20px 20px;
  text-align: left;
}

div.service_detail {
  border: 1px solid #fab15d;
  width: 95%;
  margin: 30px auto;
  background-color: #ffffff;
}
.span_box {
  border-radius: 10px;
  height: 20px;
  font-size: 15px;
  color: rgb(124, 124, 124);
}

/* 작성한 댓글이 달리는 div ====================*/
.comment_list_box {
  width: 100%;
  margin: 30px auto;
}
div.comment_list {
  border: 1px solid #fab15d;
  width: 95%;
  background-color: #fab15d;
}
/* 작성한 댓글의 작성자 및 작성시간 표시 바*/
.comment_list span {
  margin: 0px 10px;
}
/* 댓글 작성하는 칸 div========================= */
.comment_box_all {
  width: 100vw;
  background-color: #ffffff;
  height: 25vh;
  border-top: 1px solid #fab15d;
  position: absolute;
  bottom: 0px;
}
.comment_box_all p {
  width: 80%;
  padding: 20px 25px 0px;
  text-align: left;
  width: 90%;
  font-size: 1.5vw;
}
div.comment_box {
  display: flex;
  align-items: center;
  padding: 0px 20px 40px;
  width: 90%;
  background-color: #ffffff;
  margin: 0px auto;
}

/* 댓글 텍스트 작성 칸  */
textarea {
  padding: 10px;
  resize: none;
  text-align: left;
  width: 85%;
}

/* 확인 버튼 */
.btn-primary {
  padding: 10px;
  border-radius: 5px;
  background-color: #e7c194;
  border: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #66441e;
  cursor: pointer;
}

/* 취소 버튼 */
.btn-secondary {
  padding: 10px;
  border-radius: 5px;
  background-color: #46534b;
  border: none;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #313a34;
  cursor: pointer;
}
/* 푸터 ========================================*/
footer {
  width: 100%;
  height: 100%;
  background-color: #3d5656;
  display: grid;
  place-items: center;
}
