/* 전체 설정 */
* {
  text-align: center;
  margin: auto;
}

body {
  background: rgb(231, 220, 184);
  display: grid;
  height: 100vh;
}

/* 헤더 */
header {
  background-color: rgb(190, 190, 190);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

header > h2 {
  margin-left: 20px;
}

header ul {
  border: 2px solid red;
  margin: 0px 40px 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 네비 */
ul {
  list-style: none;
  padding-left: 0px;
}
nav {
  border: 2px solid blue;
  margin: 10px 10px;
  background-color: orange;
  display: grid;
  place-items: center;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}

nav ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 모달 */
h1 {
  color: red;
}

input.service_title {
  text-align: left;
}

textarea.service_content {
  text-align: left;
}

div.modal-content {
  width: 850px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.modal-body {
  display: flex;
  flex-direction: column;
}

/* 바디 */

section.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.main_section {
  border: 2px solid green;
  background-color: rgb(255, 174, 251);
  margin: 0 10px;
  height: 450px;
  width: 1510px;
  overflow: auto;
}

span {
  display: flex;
  flex-direction: row;
}

button.btn {
  width: 80px;
  margin-top: 10px;
}

p {
  border: 1px solid rgb(0, 0, 0);
  margin: 7px 10px;
}

p.service_id {
  width: 100px;
}

p.service_title {
  width: 880px;
  cursor: pointer;
}

p.service_user {
  width: 250px;
}

p.service_created_at {
  width: 170px;
}

/* 푸터 */
footer {
  line-height: 55px;
  background-color: gray;
  display: grid;
  place-items: center;
  margin: 10px 10px;
}
