/* 전체 설정 */
* {
  font-family: "Jua", sans-serif;
  text-align: center;
  margin: auto;
}
body {
  overflow: hidden;
  background-color: rgb(255, 251, 236);
}
/* 헤더=============================================*/
header {
  background-color: #fed049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
}

h2 {
  margin: 0 5px 0 0;
}
.mascot {
  width: 55px;
  height: 60px;
}
.header_small_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.category_return {
  margin: 0px 10px;
  text-decoration-line: none;
  color: red;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비게이션============================================= */
.nav_box {
  /* border: 1px solid red; */
  top: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navContainer {
  padding: 5px;
  background-color: white;
  border: 10px solid #fed049;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.service1 {
  width: 80%;
}

.near_restaurant {
  border-radius: 100px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 1.2vw;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 2px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.2vw;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav a {
  text-decoration-line: none;
  color: grey;
}

section {
  /* border: 2px solid green; */
  height: 100%;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

/* 바디 */
section.main_title {
  margin-top: 160px;
  height: auto;
}

h1.title {
  color: #af7d00;
  font-size: 32px;
}
h5.title {
  color: #af7d00af;
}

section.main_section {
  border: 2px solid #ffca84;
  border-top: none;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  box-sizing: content-box;
  overflow: auto;
  height: 50vh;
  width: 95vw;

  /* padding: 10px 0px; */
}
.main_title {
  margin-top: 150px;
  padding: 20px;
}
.main_title h1 {
  font-size: 2vw;
}
.main_title h5 {
  font-size: 1.5vw;
}
.service-nav {
  border: 2px solid #ffca84;
  width: 95vw;
  display: flex;
  background-color: #ffca84;
  padding: 10px 0px;
  text-align: center;
  height: 5vh;
}
.service-body {
  border: 2px solid red;
  height: 55vh;
}

/* 스크롤바 설정==================================*/
.main_section::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.main_section::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #f89940;
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.main_section::-webkit-scrollbar-track {
  background-color: #ffd885;
}

/* 스크롤바 설정==================================*/
.service-body span {
  border-bottom: 1px solid black;
  /* margin: 15px 0px; */
}

span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span p {
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 7px 5px;
  display: grid;
  align-items: center;
}

/* 말머리 / 내용 / 작성자 / 작성 시간 */
.service_nav {
  background-color: #ffca84;
  padding: 10px 0;
}

p.service_id {
  width: 100px;
}

p.service_title {
  width: 100%;
  padding: 0 5px;
  cursor: pointer;
  display: inline-block;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
  /* text-align: left; */
}

p.service_user {
  width: 500px;
}

p.service_created_at {
  width: 300px;
}

/* 텍스트박스 */
.text_box {
  position: relative;
  display: inline-block;
  width: 100%;
}

.text_box textarea {
  width: 100%;
  height: 152px;
  color: #666;
  font-family: "ht_r";
  font-size: 18px;
  line-height: 28px;
  padding: 20px;
  border: 1px solid #e4dcd3;
  outline: 0;
  resize: none;
  border-radius: 10px;
}

.text_box .count {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #666;
  font-family: "ht_r";
  font-size: 12px;
  display: flex;
}

/* 문의하기 모달창 시작 ===================================   */
/* 모달창 흰색 div */
div.modal-content {
  border-radius: 20px;
  width: 850px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 모달 창 안내문*/
h1 {
  color: red;
}

/* 입력 창 전체 */
div.modal-body {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* 제목 작성칸 */
input.service_title {
  text-align: left;
  border: 1px solid rgb(88, 88, 88);
  padding: 5px 20px;
  border-radius: 10px;
}

/* 내용 작성 칸 */
textarea.service_content {
  text-align: left;
}

/* 모달 푸터 ==============*/
.modal-footer {
  margin: 15px auto;
}

/* 확인 버튼 */
.btn-primary {
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: #ffca84;
  border: none;
}

.btn-primary:hover {
  margin: 20px;
  color: #ffffff;
  background-color: #996d34;
  cursor: pointer;
}

/* 취소 버튼 */
.btn-secondary {
  padding: 10px;
  border-radius: 5px;
  background-color: #46534b;
  border: none;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #313a34;
  cursor: pointer;
}

/* 문의하기 모달창 끝 ===================================   */
/* 푸터 */
footer {
  width: 100%;
  background-color: #3d5656;
  display: grid;
  place-items: center;
}
