/* 전체 설정 */
* {
  text-align: center;
  margin: auto;
  font-family: "Jua", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: space-between;
  background-color: #CFFDE1;
}

/* 헤더 */
header {
  background-color: #3D5656;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

header>h2 {
  margin: 0px 30px;
  width: 120px;
}

header>h2:hover {
  color: #000000;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}


/* 네비게이션=============================================*/
.nav_box {
  margin-top: 60px;
  width: 100%;
  height: 60px;
}

.navContainer {
  background-color: white;
  border: 10px solid #3D5656;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.service1 {
  width: 60%;
}

.near_restaurant {
  border: solid 3px grey;
  border-radius: 100px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border: 3px solid grey;
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 2px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border: 3px solid grey;
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border: 3px solid grey;
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}

nav {
  /* border: 2px solid blue; */
  /* margin: 10px 10px; */
  /* background-color: orange; */
  height: 100%;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

nav a {
  text-decoration-line: none;
  color: grey;
}

nav ul>li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* 위치 */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
}

/* 바디 */
section.main_section {
  /* border-top: 2px solid rgb(0, 0, 0); */
  /* background-color: rgb(253, 255, 222); */
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-start;
  overflow: auto;
  /* padding: 5px 5px; */
  /* border-radius: 20px; */

}


/* 스크롤바 설정==================================*/
.main_section::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.main_section::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: #3D5656 ;
  border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.main_section::-webkit-scrollbar-track{
  background-color: #3d565681 ;
}
/* 스크롤바 설정==================================*/

span.user {
  float: left;
  margin-left: 10px;
}

span.created_at {
  float: right;
  margin-right: 10px;
}

div.p_box {
  background-color: #68B984;
}
.title{
  /* border: 1px solid orange; */
  /* border-radius: 10px; */
text-align: left;
font-size: 20px;
padding: 5px;
margin-bottom: 0px;
/* border-bottom: 1px solid black; */

}
.content{
text-align: left;
padding: 10px 20px;
overflow : auto;
height: 300px;
width: 100%;
}

/* 스크롤바 설정==================================*/
.content::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.content::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: #3D5656 ;
  border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.content::-webkit-scrollbar-track{
  background-color: #3d565669 ;
}
/* 스크롤바 설정==================================*/

p.content {
  margin: 0;
}

span.servicecomment_user {
  float: left;
  margin-left: 20px;

}

span.servicecomment_created_at {
  float: right;
  margin-right: 20px;
}

p.servicecomment_comment {

  border-bottom: 1px solid #9cd3b1;
  margin: 30px 0 0 0;
  color: #000000;

  background-color: #ffffff;
padding: 20px 20px;
  text-align:left;


}

div.service_detail {
  border: 1px solid #68B984;
  width: 95%;
  margin: 30px auto;
  /* border-radius: 10px; */
  background-color: #ffffff;

}
.span_box{
  border-radius: 10px;
  /* padding: 5px 5px;
  margin: 5px ;
  /* border: 1px solid red; */
  height: 20px;
  font-size: 15px;
  color: rgb(124, 124, 124);
}

/* 작성한 댓글이 달리는 div ====================*/
.comment_list_box{
  width:100%;
  margin: 30px auto;
}
div.comment_list {
  border: 1px solid #9cd3b1;
width: 95%;
  background-color: #9cd3b1;
}
/* 작성한 댓글의 작성자 및 작성시간 표시 바*/
.comment_list span {
margin: 0px 10px;
}
/* 댓글 작성하는 칸 div========================= */
.comment_box_all{
  width: 100%;
  background-color: #ffffff;
  height: 100%;
  border-top:1px solid #68B984 ;
}
div.comment_box {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  padding: 20px 40px;
  width: 90%;
  background-color: #ffffff;
  margin: 0px auto;

}

/* 댓글 텍스트 작성 칸  */
textarea {
  padding: 10px;
  resize: none;
  text-align: left;
  width:85%;
}

/* 확인 버튼 */
.btn-primary {
  padding: 10px;
  border-radius: 5px;
  background-color: #68B984;
  border: none;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #519167;
  cursor: pointer;
}

/* 취소 버튼 */
.btn-secondary {
  padding: 10px;
  border-radius: 5px;
  background-color: #46534b;
  border: none;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #313a34;
  cursor: pointer;
}
/* 푸터 ========================================*/
footer {
  width: 100%;
  height: 100%;
  background-color: #3D5656;
  display: grid;
  place-items: center;
}
