/* 전체 설정 */
* {
  font-family: "Jua", sans-serif;
  text-align: center;
  margin: auto;
}

/* 헤더=============================================*/
header {
  background-color: #fed049;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.header_small_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.category_return {
  margin: 0px 10px;
  text-decoration-line: none;
  color: red;
  cursor: pointer;
}

.profile_info_box {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.dropdown-menu-dark {
  height: 100px;
}

.dropdown-item-box {
  height: 43px;
}

.dropdown-item {
  margin: 0px;
  cursor: pointer;
}

/* 네비게이션============================================= */
.nav_box {
  border: 1px solid red;
top: 70px;
  position: fixed;
  width: 100%;

}

.navContainer {
  background-color: white;
  border: 10px solid #fed049;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.service1 {
  width: 80%;
}

.near_restaurant {
  border: solid 3px grey;
  border-radius: 100px;
  float: left;
  width: 20%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;
}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border: 3px solid grey;
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.who:hover {
  letter-spacing: 2px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.community {
  border: 3px solid grey;
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

.service {
  border: 3px solid grey;
  border-radius: 100px;
  float: left;
  margin-left: 5%;
  width: 20%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.service:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;
}

ul {
  list-style: none;
  padding-left: 0px;
}


nav a {
  text-decoration-line: none;
  color: grey;
}

section {
  /* border: 2px solid green; */
  height: 100%;
}

/* 내용 섹션 윗칸 ============================================= 221205 이태은 */
.target_box {
  height: 80vh;
  margin: 140px 0 0 0;
}

.target_small_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.target {
  width: 90px;
  height: 126px;
  background: #ffc000;
  display: block;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: solid 2px rgb(91, 89, 85);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px 20px;
  background-color: blanchedalmond;
}

.target_foods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 65vh;
  padding: 30px;
  background-color: rgb(248, 248, 236);
  border: solid 5px #FED049;
  overflow: overlay;
}
.target_foods::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.target_foods::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #8a5300; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.target_foods::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

div.odd {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 50px 40px 0px 20px;
  background-color: rgb(200, 226, 235);
}

div.even {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0px 10px 0px 30px;
  background-color: rgb(244, 197, 204);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
}

.food_name {
  cursor: pointer;
}

/* 바닥글 윗칸 ============================================= 221205 이태은 */
footer {
  height: 100%;
  background-color: gray;
  width: 100%;
  position: relative;
  bottom: 0;
}
