/* 전체 설정 */
* {
  text-align: center;
  margin: auto;
  font-family: 'Do Hyeon', sans-serif;
}

button {
  cursor: pointer;
  transition: all 0.2s linear;
}

button:hover {
  background-color: rgb(237, 177, 135);
  transform: scale(1.2);
}


/* 헤더============================================= 221205 이태은 */
header {
  background-color: rgb(190, 190, 190);
  width: 100;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header>h2 {
  margin-left: 20px;
}

header>h2:hover {
  color: #000000;
  cursor: pointer;
}

header ul {
  border: 2px solid red;

  margin: 0px 40px 0px;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

header ul>li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}


/* 네비게이션============================================= 221205 이태은*/
.navContainer {
  border: 1px solid red;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 0 4px 0 32px;
  align-items: center;
}

.service1 {
  width: 60%;
}

.near_restaurant {
  border: 1px solid red;
  float: left;
  width: 30%;
  box-sizing: border-box;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;

}

.near_restaurant:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
  transition: all 0.7s;
}

.who {
  border: 1px solid green;
  float: left;
  margin-left: 5%;
  width: 30%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 900;
}

.who:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;

}

.community {
  border: 1px solid blue;
  float: right;
  width: 30%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.community:hover {
  letter-spacing: 3px;
  color: #000000;
  font-weight: 900;
  transition: all 0.7s;

}

ul {
  list-style: none;
  padding-left: 0px;
}

nav {
  margin: 10px 10px;
  height: 100%;
}

nav ul {
  border: 2px solid red;
  width: 40%;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration-line: none;
}

nav ul>li {
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

section {
  height: 100%;
}


/* 위치 */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}

a.active {
  color: #FF5752;
  font-weight: bolder;
  font-weight: 900;
}


/* 내용 섹션 윗칸 ============================================= 221205 이태은 */
.target_box {
  background-color: rgb(255, 251, 236);
  height: 80vh;
  z-index: -100;
  padding: 20px;
}

.target_small_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.target {
  width: 90px;
  height: 126px;
  background: #ffc000;
  display: block;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: solid 2px rgb(91, 89, 85);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 10px 20px;
  background-color: blanchedalmond;
}

.target_foods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 400px;
  padding-bottom: 30px;
  background-color: rgb(253, 237, 237);
}

p.odd_p {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 50px 40px 0px 20px;
  background-color: rgb(200, 226, 235);
}

p.even_p {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0px 10px 0px 30px;
  background-color: rgb(244, 197, 204);
}


/* 바닥글 윗칸 ============================================= 221205 이태은 */
footer {
  height: 100%;
  background-color: gray;
  width: 100%;
  position: relative;
  bottom: 0;
}