<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <link rel="stylesheet" href="../static/css/intro_2.css" />
  </head>
  <body>
    <h1 class="main-title">평소 즐겨 드시는 음식 종류가 무엇인가요?</h1>
    <h3 class="main-subtitle">고르신 음식 종류를 기반으로 메뉴를 추천해 드립니다!</h3>

    <section class="main_box1">
      <div class="container">
        <div class="content">
          <a href="login.html" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA1MDNfMTM3%2FMDAxNjIwMDAxNDk1Mjc0.wvtRVZxNixK4_RYM8AaJyu6moMW6dT-48CyBywTcHj0g.sjfn25JmoXG9cr8SL7oyRAAGhr5yIzm8M6rGAO2JHZYg.JPEG.rttos34%2F%25C0%25FC%25C3%25BC%25BC%25A6_%25284%2529.jpg&type=a340"
            />
            <div class="content-details fadeIn-top fadeIn-left">
              <h3 class="content-title">한식</h3>
              <p class="content-text">This is a short description</p>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzExMTNfMTUx%2FMDAxNTEwNTU1MzY3Njky.e7C9IrZ-VXhuB4k1yF_8mYGPU2cP75VAz8DrE5bsI3Yg.1IqeqwvNrOqYfWyrZK21gyJkqNaA0ty2T06KfSocrpAg.JPEG.msinvestment%2F%25C2%25F7%25BF%25C0%25C2%25F7%25BF%25C001794-20171113.jpg&type=a340"
            />
            <div class="content-details fadeIn-top">
              <h3>중식</h3>
              <p>This is a short description</p>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzExMDFfMTgy%2FMDAxNTA5NTIzOTY4MTA1.94_S97C4eY1rVXT7DvDHx7npl6Z_ajYKoayx1k7b-Okg.zzgbaj-WzQ50OoNzRBi3cl9_yP8mRhmzjj3rlXjkXewg.JPEG.msinvestment%2F2_%25BF%25AC%25BE%25EE_%25288%2529%25C1%25B6%25C0%25FD.JPG&type=a340"
            />
            <div class="content-details fadeIn-top fadeIn-right">
              <h3>일식</h3>
              <p>This is a short description</p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="main_box2">
      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MDdfMTIg%2FMDAxNjU0NTM5MTkwODgx.ejnE5-hSvN1HR8KUhLZS4VD8yRxdGXyWh-y2Kb2Yk4Eg.qk1gAsFs7kQPpCdzP-plwEIHGxzW-GhAnxtN_soJswMg.JPEG.urbanestudio%2F121500475.jpg&type=a340"
            />
            <div class="content-details fadeIn-left">
              <h3>양식</h3>
              <p>This is a short description</p>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="../templates/mascot.jpeg" />
            <div class="content-details">
              <h3>메추리알</h3>
              <p>메뉴 추천 리스트 알고리즘</p>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAxMDhfMTM5%2FMDAxNjEwMDc5MTg5OTU4.KtsEqzLQo1Uay-15WMFCuNDKPGZyzu3rGVPp_ob1HJ0g.e3rnHKRZ2CSlND50dfkIk2c1L7s-uUSyiyIC8XJcswwg.JPEG.ppoppo8311%2F12.jpg&type=a340"
            />
            <div class="content-details fadeIn-right">
              <h3>분식</h3>
              <p>This is a short description</p>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section class="main_box3">
      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA5MjRfMTk3%2FMDAxNjY0MDIyMjQwODkx.ZeSOKnBIZ5cE1ZBt3sgMNQGi-5p2EPtt5cG7XzNbrzEg.zmj66OnmJKtDnkGIQlkIYDSHsvxX98sel7QVhRmsMI4g.JPEG.kamg11201%2FIMG_4529.jpg&type=a340"
            />
            <div class="content-details fadeIn-bottom fadeIn-left">
              <h3>아시안</h3>
              <p>This is a short description</p>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzEwMjNfMjQ5%2FMDAxNTA4NzUwNDY0NTk4.tQ5Y0Coadwvk_kO_4gKRBbTeSG9DNWVwQUKNN0zqtlsg.8KvhoqOFHnPQIl0MaZau9PxZvwFdWEtMFuGup-FPXgcg.JPEG.doonggi98a%2F18_%25B1%25F2%25B8%25AE%25B8%25B6%25B8%25AE%25C4%25A8%25BD%25BA_%25285%2529_1010.JPG&type=a340"
            />
            <div class="content-details fadeIn-bottom">
              <h3>야식</h3>
              <p>This is a short description</p>
            </div>
          </a>
        </div>
      </div>

      <div class="container">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <img
              class="content-image"
              src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA0MDdfOTAg%2FMDAxNjQ5MzE3NzUyNzI3.VFxbiynqpXAQqeYMCPvSmax2ogGYlGsuQen1Tt9HbQgg.oPZPD0754ubEM2p_fM2n7G03dQ_fAQhig1Rs7cnZBekg.JPEG.tta81%2F1649317751205.jpg&type=a340"
            />
            <div class="content-details fadeIn-bottom fadeIn-right">
              <h3>건강식(미구현)</h3>
              <p>오픈 준비 중..</p>
            </div>
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
