<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메추리알 | 인트로 한식</title>

    <link rel="stylesheet" href="../static/css/intro_korean.css">

</head>

<body>
    <h1>MENU <span class="header-span">한식</span></h1>
    <hr>
    <div class="all-the-foods">
        <div class="clip-path-container">
            <div class="description-holder">
                <h1>밥</h1>
            </div>
            <div class="food korean_food1"></div>
        </div>

        <div class="clip-path-container">
            <div class="description-holder">
                <h1>국(탕)</h1>
            </div>
            <div class="food korean_food2"></div>
        </div>

        <div class="clip-path-container">
            <div class="description-holder">
                <h1>면</h1>
            </div>
            <div class="food korean_food3"></div>
        </div>

        <div class="clip-path-container">
            <div class="description-holder">
                <h1>고기</h1>
            </div>
            <div class="food korean_food4"></div>
        </div>

        <div class="clip-path-container">
            <div class="description-holder">
                <h1>생선구이</h1>
            </div>
            <div class="food korean_food5"></div>
        </div>

        <div class="clip-path-container">
            <div class="description-holder">
                <h1>찜</h1>
            </div>
            <div class="food korean_food6"></div>
        </div>

        <div class="clip-path-container">
            <div class="description-holder">
                <h1>볶음</h1>
            </div>
            <div class="food korean_food7"></div>
        </div>

        <div class="clip-path-container">
            <div class="description-holder">
                <h1>죽</h1>
            </div>
            <div class="food korean_food8"></div>
        </div>
    </div>
</body>

</html>