<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet" />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

    <!-- jquery -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <title>메추리알 | 홈페이지</title>

    <link rel="stylesheet" href="../static/css/main.css" />
  </head>

  <body>
    <header>
      <div class="header_small_box">
        <h2 href="main.html" onclick="location.href='main.html?id=1'">메추리알</h2>
        <img class="mascot" src="mascot.jpeg" alt="마스코트" onclick="location.href='main.html?id=1'" />
      </div>
      <span class="space">
        <input class="form-control" type="search" placeholder="음식 이름 검색" aria-label="Search" id="inputSearch" />
        <button class="search_btn" type="button" onclick="FoodSearch()"><span class="material-symbols-outlined"> search </span></button>
      </span>
      <div id="profile_info_box" class="profile_info_box">
        <div id="profile_img_box" class="profile_img_box"></div>
        <div id="profile_name_box" class="nav-item dropdown">
          <ul id="profile_dropdown" class="dropdown-menu dropdown-menu-dark"></ul>
        </div>
      </div>
    </header>
    <nav class="nav_box">
      <div class="navContainer">
        <div class="service1">
          <div class="near_restaurant">
            <a href="restaurants_nearby.html" onclick="location.href='restaurants_nearby.html'">
              <span class="material-symbols-outlined"> location_on </span>
              근처 맛집
            </a>
          </div>
          <div class="who">
            <a href="with_who.html" onclick="location.href='with_who.html'">
              <span class="material-symbols-outlined"> groups </span>
              누구랑 먹나요
            </a>
          </div>
          <div class="community">
            <a href="community.html" onclick="location.href='community.html'">
              <span class="material-symbols-outlined">chat_bubble</span>
              커뮤니티
            </a>
          </div>
          <div class="service">
            <a href="service.html" onclick="location.href='service.html'">
              <span class="material-symbols-outlined">support_agent</span>
              고객센터
            </a>
          </div>
        </div>
      </div>
    </nav>
    <section class="recommend_food_img_section">
      <!-- 라운드  슬라이드 박스 -->
      <div id="recommend_center" class="recommend_center">
        <div id="recommend_box1" class="recommend_container1"></div>
        <div id="recommend_box2" class="recommend_container2"></div>
        <div id="recommend_box3" class="recommend_container3"></div>
        <div id="recommend_box4" class="recommend_container4"></div>
        <div id="recommend_box5" class="recommend_container5"></div>
        <div id="recommend_box6" class="recommend_container6"></div>
        <div id="recommend_box7" class="recommend_container7"></div>
        <div class="slide_change_button">
          <button id="ClickLeft" class="clickleft btn btn-warning"><</button>
          <button id="ClickRight" class="clickright btn btn-warning">></button>
        </div>
      </div>
    </section>
    <section class="sns_famous_restaurant_section">
      <div id="sns_famous_restaurant_container" class="sns_famous_restaurant_container">
        <span class="slide_title">🔍추천 받고 싶은 음식 종류를 골라보세요!</span>
        <div id="sns_slider-container">
          <span onclick="slideRight()" class="btn"></span>
          <div id="slider">
            <!-- 한식 -->
            <div class="slide">
              <a href="#" onclick="getMainPage(1)"
                ><span
                  ><img class="slid-img" src="https://velog.velcdn.com/images/taeeuno_o/post/846d18d3-ed7c-4112-a721-d275b041023b/image.png" /></span
              ></a>
            </div>
            <!-- 중식 -->
            <div class="slide">
              <a href="#" onclick="getMainPage(2)"
                ><span
                  ><img class="slid-img" src="https://velog.velcdn.com/images/taeeuno_o/post/6873a96a-1fba-4afe-85fb-219718762eea/image.png" /></span
              ></a>
            </div>
            <!-- 일식 -->
            <div class="slide">
              <a href="#" onclick="getMainPage(3)"
                ><span
                  ><img class="slid-img" src="https://velog.velcdn.com/images/taeeuno_o/post/d3431d5d-0e5c-43fd-86ac-75bace19da33/image.png" /></span
              ></a>
            </div>
            <!-- 양식 -->
            <div class="slide">
              <a href="#" onclick="getMainPage(4)"
                ><span
                  ><img class="slid-img" src="https://velog.velcdn.com/images/taeeuno_o/post/06772995-1216-4afe-b125-82e7fbd978bd/image.png" /></span
              ></a>
            </div>
            <div class="slide">
              <a href="#" onclick="getMainPage(5)"
                ><span
                  ><img class="slid-img" src="https://velog.velcdn.com/images/taeeuno_o/post/2fe635b3-39b1-4241-bc93-d59cb0430cfc/image.png" /></span
              ></a>
            </div>
            <div class="slide">
              <a href="#" onclick="getMainPage(6)"
                ><span
                  ><img class="slid-img" src="https://velog.velcdn.com/images/taeeuno_o/post/693ac3f4-2bbd-4d76-bdc5-7d73f22267c0/image.png" /></span
              ></a>
            </div>
            <div class="slide">
              <a href="#" onclick="getMainPage(7)"
                ><span
                  ><img class="slid-img" src="https://velog.velcdn.com/images/taeeuno_o/post/be2a4b30-95c8-401a-a04f-d9d65b576074/image.png" /></span
              ></a>
            </div>
          </div>
          <span onclick="slideLeft()" class="btn"></span>
        </div>
      </div>
    </section>
    <footer>
      <nav>
        <a href="https://spartacodingclub.kr/" target="_blank">Sparta</a> |
        <a href="https://github.com/A7-TC2-TeamCode200" target="_blank">Github</a>
      </nav>
      <p>
        <span>메추리알 (메뉴 추천 리스트 알고리즘) mechurial.mrla.tk</span><br />
        <span>본 서비스는 스파르타코딩클럽, 내일배움캠프 Ai 트랙 3기 프로젝트 결과물입니다. 문의 사항은 고객센터를 이용해주세요.</span><br />
        <span>© 2022 Team Code 200. All rights reserved.</span>
      </p>
    </footer>
  </body>

  <script src="../static/js/api.js"></script>
  <script src="../static/js/main.js"></script>
</html>
